@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,400;1,600&display=swap');

body{
     
    height: 296vh;
}

nav, nav a, nav li{
    font-family: 'Newsreader', serif !important;
    font-weight: bolder;
    font-size: 20px;
}
nav img{
    height: 40px;
    width: 40px;
    border-radius:50px;
    margin-right: 10px;
}

.caixa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.busca{
    display: flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

.busca input{
    height: 50px;
    width: 300px;
    border-radius: 10px 0 0 10px;
    border: none;
    padding-left: 15px;
}

.busca button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: all 1.2s ease;
}

.busca button:hover{
    transition-duration: 1.2s;
    opacity: 0.6;
}

.busca img{
    width: 17px;
    height: 17px;
}


.blocoTexto, .news{
    height: auto;
    overflow: hidden;
    background: #fff;
}

.blocoTexto{
    border-radius: 10px 10px 0 0 ;
}

.blocoTexto img{
    height: 200px;
    width: 100vw;
    object-fit: cover;
    transition: all 1.2s ease;
}

.blocoTexto img:hover{
    opacity: 70%;
    transition-duration: 1.2s;
    cursor: pointer;
}

.conteudo{
    text-align: center;   
    height: 100%;
}

.conteudo h1{
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Newsreader', serif !important;
}

.conteudo p{
    font-family: Arial, Helvetica, sans-serif!important;
    margin-top: 29px!important;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 102vh;
    border-radius: 5px;
    width: auto;
}

.news h3{
    border-top:0;
    border-right: 0;
    border-left: 0;
    border-bottom: 3px;
    border-style: solid;
    font-family: 'Newsreader', serif !important;
    font-weight: bold;
}

.news img{
    height: 186px;
    width: 38vh;
    border-radius: 5px;
}

/* Modal test */ 

.modalVisual{
    display:none;
    position:fixed;
    z-index:1;
    padding-top:100px;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8);
}

.modalConteudo{
    margin:auto;
    display:block;
    width:90%;
    max-width:800px;
}


.fechar{
    position:absolute;
    top:15px;
    right:35px;
    color:#fff;
    font-size:40px;
    font-weight:bold;
    cursor:pointer;
}
/* Fim do modal */



footer{
    display: flex!important;
    flex-direction: column-reverse!important;
    
    text-align: center;
    margin-top: 26px!important;
    background: black;
    width: 100%;
    height:140px;
}

footer p{
    padding-top: 10px;
    color: #fff;
}

i{
    color:#fff;
}

#rodape{
    margin-top: 15px;
    padding-top: 5px;
    border-top: #fff;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-style: solid;
}


#social{
    display: flex;
    justify-content: space-around;
    
}


@media (min-width: 393px){
    footer{
        height: 120px;
    }

    body{
        height: 280vh;
    }
}

@media (min-width: 476px){
    body{
        height: 278vh;
    }
}

@media (min-width: 520px){
    body{
        height: 260vh;
    }
}

@media ( min-width: 800px ) {
    .busca{
        justify-content: flex-end;
    }

    .blocoTexto{
        width: 53vw;
    }

    .blocoTexto img{
        width: 57vw;
    }

    .caixa{
        justify-content: space-around;
        flex-direction: row;
    }

    .news{
        margin-top: 0;
    }
    .news img{
        width: 172px;
    }

    body{
        height: 147vh;
    }

    .modalConteudo{
        width:35%;
    }

    .news h3{
        margin-left: 10px;
        margin-right: 10px;
    }

    .news img{
        height: 150px;
    }

    footer{
        display: flex!important;
        align-items:center;
        justify-content: space-between;
        flex-direction:  row!important;
        height:60px;
    }
    
    #rodape{
        width:35%;
        border: 0;
        margin-top: 0;
        padding-top: 10px;
        
    }

    #social{
        display: flex;
        justify-content: space-around;
        width:35%;
    }
}